{{ define "main" }}

<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">

		<img src="{{ .Params.logo }}" alt="" class="db w4 center pv4">

		{{ .Content }}
		<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: Please add the following <META> element to your page <HEAD>.      -->
<!--  If necessary, please modify the charset parameter to specify the        -->
<!--  character set of your HTML page.                                        -->
<!--  ----------------------------------------------------------------------  -->


<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
 function timestamp() { var response = document.getElementById("g-recaptcha-response"); if (response == null || response.value.trim() == "") {var elems = JSON.parse(document.getElementsByName("captcha_settings")[0].value);elems["ts"] = JSON.stringify(new Date().getTime());document.getElementsByName("captcha_settings")[0].value = JSON.stringify(elems); } } setInterval(timestamp, 500); 
</script>

<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: Please add the following <FORM> element to your page.             -->
<!--  ----------------------------------------------------------------------  -->

<form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8&orgId=00DHo000001yw1I" method="POST">

<input type=hidden name='captcha_settings' value='{"keyname":"tech_captcha","fallback":"true","orgId":"00DHo000001yw1I","ts":""}'>
<input type=hidden name="oid" value="00DHo000001yw1I">
<input type=hidden name="retURL" value="https://www.technopioneer.com/thanks/">

<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
<!--  these lines if you wish to test in debug mode.                          -->
<!--  <input type="hidden" name="debug" value=1>                              -->
<!--  <input type="hidden" name="debugEmail"                                  -->
<!--  value="rohit@technopioneer.com">                                        -->
<!--  ----------------------------------------------------------------------  -->

<label for="first_name">First Name</label><input  id="first_name" maxlength="40" name="first_name" size="20" type="text" /><br>

<label for="last_name">Last Name</label><input  id="last_name" maxlength="80" name="last_name" size="20" type="text" /><br>

<label for="email">Email</label><input  id="email" maxlength="80" name="email" size="20" type="text" /><br>

<label for="company">Company</label><input  id="company" maxlength="40" name="company" size="20" type="text" /><br>

<label for="description">Message</label><textarea name="description"></textarea><br>

<div class="g-recaptcha" data-sitekey="6LexwFQUAAAAAB_iSDYJ-tvXENlCJJ-U60Z5EINH"></div><br>
<input type="submit" name="submit">

</form>


		<div class="flex-ns mb3">
	        	{{ range .Params.contact_entries }}
				<div>
					<h4 class="f4 b lh-title mb2 primary">{{ .heading }}</h4>
					<p>{{ .text }}</p>
				</div>
			{{ end }}
		</div>


	</div>
</div>

{{ end }}
