{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

{{ partial "4-up" .Params.intro }}


{{ with .Params.main }}
<div class="mw7 center">
  <div class="mw6 ph3 mb3">
    <h3 class="f3 b lh-title mb2">{{ .heading }}</h3>
    <p>{{ .description }}</p>
  </div>
</div>
<!-- CTA -->
<div class="mw7 center">
<a href="https://appexchange.salesforce.com/appxListingDetail?listingId=a0N4V00000IrJowUAF">
  <img src="img/available-on-appexchange.png" />
</a>
</div>

<!-- YT -->
<div class="mw7 center">
  <div class="mw6 ph3 mb3">
  <h3 class="f3 b lh-title mb1">Introducing Instant Feedback</h3>
  {{ partial "youtube.html" (dict "video" "tgyDm69ETGA" "title" "Introducing Instant Feedback") }}
  </div>
</div>
<div class="mw7 center">
  <div class="mw6 ph3 mb3">
  <h3 class="f3 b lh-title mb1">Watch Instant Feedback Demo</h3>
  {{ partial "youtube.html" (dict "video" "-z7_WHsjCX0" "title" "Instant Feedback Demo") }}
  </div>
</div>


<!-- Image grid 
{{ partial "image-grid" . }}
{{ end }}

<div class="pb4">
  {{ range .Params.testimonials }}
    {{ partial "blockquote" . }}
  {{ end }}
</div>

<!-- Full-width image 
<img src="{{ .Params.full_image }}" alt="" class="db w-100">
-->
<div class="ph2">
{{ partial "table" .Params.pricing }}
</div>


{{ end }}
